<div>
  <h4>
    <span>Current todos</span>
    <r-label-pill value="$ctrl.todos.length"></r-label-pill>

    <button type="button"
            class="btn btn-link"
            ng-click="$ctrl.clearAll()">Remove All</button>
  </h4>
</div>

<form ng-submit="$ctrl.addTodo()">
  <div class="input-group">
    <input type="text"
           class="form-control"
           placeholder="Get a hairdo"
           ng-model="$ctrl.currentTodo.text">
    <button type="submit"
            class="btn btn-primary">Add Todo</button>
  </div>

</form>

<div class="my-4">
  <r-button-radio-w-pill radio-props="{
                           id: 'all',
                           name: 'criteria',
                           value: 'all',
                           className: [
                              $ctrl.criteria != 'all' ? 'btn-link' : '',
                              $ctrl.criteria == 'all' ? 'btn-primary': '',
                            ],
                            onClick: $ctrl.onCriteriaChange,
                          }"
                         label-pill-props="{
                           value: ($ctrl.todos | todoFilter: 'all').length,
                           className: [$ctrl.criteria != 'all' ? 'bg-primary': ''],
                         }"
                         label="'All'">
  </r-button-radio-w-pill>

  <r-button-radio-w-pill radio-props="{
                           id: 'active',
                           name: 'criteria',
                           value: 'active',
                           className: [
                              $ctrl.criteria != 'active' ? 'btn-link' : '',
                              $ctrl.criteria == 'active' ? 'btn-primary': '',
                            ],
                            onClick: $ctrl.onCriteriaChange,
                          }"
                         label-pill-props="{
                           value: ($ctrl.todos | todoFilter: 'active').length,
                           className: [$ctrl.criteria != 'active' ? 'bg-primary': ''],
                         }"
                         label="'Active'">
  </r-button-radio-w-pill>

  <r-button-radio-w-pill radio-props="{
                           id: 'completed',
                           name: 'criteria',
                           value: 'completed',
                           className: [
                              $ctrl.criteria != 'completed' ? 'btn-link' : '',
                              $ctrl.criteria == 'completed' ? 'btn-primary': '',
                            ],
                            onClick: $ctrl.onCriteriaChange,
                          }"
                         label-pill-props="{
                           value: ($ctrl.todos | todoFilter: 'completed').length,
                           className: [$ctrl.criteria != 'completed' ? 'bg-primary': ''],
                         }"
                         label="'Completed'">
  </r-button-radio-w-pill>
</div>

<hr class="my-2"
    ng-if="$ctrl.todos.length > 0">


<div class="">
  <ul class="list-group list-group-flush"
      ng-if="$ctrl.todos.length"
      ng-repeat="item in $ctrl.todos | todoFilter:$ctrl.criteria">
    <li class="list-group-item"
        ng-class="{
          'list-group-item-dark': ($index % 2) == 0,
        }">
      <div class="row">

        <div class="col g-1">
          <div class="form-check">
            <input type="checkbox"
                   class="form-check-input"
                   ng-attr-id="completed_{{$index}}"
                   ng-model="item.completed">
            <label class="form-check-label"
                   ng-attr-for="completed_{{$index}}">{{item.text}}</label>
          </div>
        </div>

        <div class="col-1">
          <button type="button"
                  class="btn"
                  ng-click="$ctrl.delete($index)">
            <i class="bi bi-x-circle-fill"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
