<div>
  <h4>
    <span>Current todos</span>
    <label-pill value="$ctrl.todos.length"></label-pill>

    <button type="button"
            class="btn btn-link"
            ng-click="$ctrl.clearAll()">Remove All</button>
  </h4>
</div>

<form ng-submit="$ctrl.addTodo()">
  <div class="input-group">
    <input type="text"
           class="form-control"
           placeholder="Get a hairdo"
           ng-model="$ctrl.currentTodo.text">
    <button type="submit"
            class="btn btn-primary">Add Todo</button>
  </div>

</form>

<div class="my-4">
  <input type="radio"
         class="btn-check"
         name="criteria"
         autocomplete="off"
         value="all"
         id="criteria_all"
         ng-checked="$ctrl.criteria == 'all'"
         ng-click="$ctrl.setCriteria('all')" />
  <label for="criteria_all"
         class="btn"
         ng-class="{
            'btn-link': $ctrl.criteria != 'all',
            'btn-primary': $ctrl.criteria == 'all',
          }">
    <span>All</span>
    <label-pill value="($ctrl.todos | todoFilter: 'all').length"
                class-name="[$ctrl.criteria != 'all' ? 'bg-primary': '']"></label-pill>
  </label>

  <input type="radio"
         class="btn-check"
         name="criteria"
         autocomplete="off"
         value="active"
         id="criteria_active"
         ng-checked="$ctrl.criteria == 'active'"
         ng-click="$ctrl.setCriteria('active')" />
  <label for="criteria_active"
         class="btn"
         ng-class="{
            'btn-link': $ctrl.criteria != 'active',
            'btn-primary': $ctrl.criteria == 'active',
          }">
    <span>Active</span>
    <label-pill value="($ctrl.todos | todoFilter: 'active').length"
                class-name="[$ctrl.criteria != 'active' ? 'bg-primary': '']"></label-pill>
  </label>

  <input type="radio"
         class="btn-check"
         name="criteria"
         autocomplete="off"
         value="completed"
         id="criteria_completed"
         ng-checked="$ctrl.criteria == 'completed'"
         ng-click="$ctrl.setCriteria('completed')" />
  <label for="criteria_completed"
         class="btn"
         ng-class="{
            'btn-link': $ctrl.criteria != 'completed',
            'btn-primary': $ctrl.criteria == 'completed',
          }">
    <span>Completed</span>
    <label-pill value="($ctrl.todos | todoFilter: 'completed').length"
                class-name="[$ctrl.criteria != 'completed' ? 'bg-primary': '']"></label-pill>
  </label>
</div>

<hr class="my-2"
    ng-if="$ctrl.todos.length > 0">


<div class="">
  <ul class="list-group list-group-flush"
      ng-if="$ctrl.todos.length"
      ng-repeat="item in $ctrl.todos | todoFilter:$ctrl.criteria">
    <li class="list-group-item"
        ng-class="{
          'list-group-item-dark': ($index % 2) == 0,
        }">
      <div class="row">

        <div class="col g-1">
          <div class="form-check">
            <input type="checkbox"
                   class="form-check-input"
                   ng-attr-id="completed_{{$index}}"
                   ng-model="item.completed">
            <label class="form-check-label"
                   ng-attr-for="completed_{{$index}}">{{item.text}}</label>
          </div>
        </div>

        <div class="col-1">
          <button type="button"
                  class="btn"
                  ng-click="$ctrl.delete($index)">
            <i class="bi bi-x-circle-fill"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
